<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>暴风魔镜S1 虚拟现实智能VR眼镜 安卓版-魅族商城</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">	
  <meta name="description" content="暴风魔镜S1 虚拟现实智能VR眼镜 安卓版，支持3期免息，正品行货，另有暴风魔镜S1 虚拟现实智能VR眼镜 安卓版详细介绍、图片、价格、参数、售前咨询等，购买暴风魔镜S1 虚拟现实智能VR眼镜 安卓版上魅族商城，全场包邮，7天无理由退货，15天换货保障。">
  <meta name="keywords" content="暴风魔镜S1 虚拟现实智能VR眼镜 安卓版，魅族，魅族商城">
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="../css/base2.css">
  <link rel="stylesheet" type="text/css" href="../css/store2.css">
  <script type="text/javascript" src="../js/vue.min.js"></script>
  <script type="text/javascript" src="../js/base2.js"></script>
  <script type="text/javascript" src="../js/store2-BF.js"></script>   
</head>
<body>
  <div id="nav"><m-nav></m-nav></div>
  <div id="header"><m-header></m-header></div>
  <div id="store"><m-store :preview="preview" :property="property"></m-store></div>
  <div id="footer"><m-footer></m-footer></div>
</body>
</html>
<script type="text/javascript">

  new Vue({
	el: "#nav"
  });
  new Vue({
	el: "#header"
  });
  new Vue({
	  el: "#store",
    data:{
      preview:{
        preone:[
          ['../images/store/pre-BF_S101.jpg','../images/store/thu-BF_S101.jpg'],
          ['../images/store/pre-BF_S102.jpg','../images/store/thu-BF_S102.jpg'],
          ['../images/store/pre-BF_S103.jpg','../images/store/thu-BF_S103.jpg'],
          ['../images/store/pre-BF_S104.jpg','../images/store/thu-BF_S104.jpg'],
        ],
      },
      property:{
            proTitle:'暴风魔镜S1 虚拟现实智能VR眼镜 安卓版',
            proDiscrib:'支持3期免息',
            proPrice:'¥ 179.00',
            /*proVersion:['暴风小D','暴风S1安卓版'],*/
            proVersion:[
              ['暴风小D','BF_xD.html'],
              ['暴风S1安卓版','BF_S1.html'],         
            ],
            proNet:'',
            proRom:'',
            proCombo:'',
            proColor:{
                白色:'../images/store/idx-BF_S101.png',
            },
            proService:{
              support:['花呗分期'],
              deliver:'',
              service:' 北京欧信兴业科技有限公司',
            },
      },
    }
  }); 
  new Vue({
	el: "#footer"
  });
</script>