<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="魅族蓝牙小音箱，曼妙持久，好音感直达心灵，正品行货，另有魅族蓝牙小音箱详细介绍、图片、价格、参数、售前咨询等，购买魅族蓝牙小音箱上魅族商城，全场包邮，7天无理由退货，15天换货保障。">
    <meta name="keywords" content="魅族蓝牙小音箱，魅族，魅族商城">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>魅族蓝牙小音箱-魅族商城</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <meta name="viewport" content="width=1240, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/blueTooth.css">
    <script type="text/javascript" src="../js/blueTooth.js"></script>
</head>
<body>
   <!-- topbar部分开始 -->
  <nav class="clear">
  	<div class="w topbar">
  		<ul class="topbar-left">
  			<li><a href="#">魅族官网</a></li>
  			<li><a href="#">魅族商城</a></li>
  			<li><a href="#">Flyme</a></li>
  			<li><a href="#">专卖店</a></li>
  			<li><a href="#">服务</a></li>
  			<li><a href="#">社区</a></li>
  		</ul>
  		<ul class="topbar-right">
  			<li><a href="">我的收藏</a></li>
  			<li><a href="">我的订单</a></li>
  			<li><a href="login.html">登录</a></li>
  			<li><a href="">注册</a></li>
  		</ul>
  	</div>
  </nav>
  <!-- topbar部分结束 -->

	<!-- 导航部分开始 -->
	<header class="clear">
	 <div class="w header">
	 	<div class="header-logo"><a href="index.html"></a></div>		
	 	<ul class="header-nav">
	 		<li><a href="#">PRO手机</a></li>
	 		<li><a href="#">魅蓝手机</a></li>
	 		<li><a href="#">MX手机</a></li>
	 		<li><a href="#">精选配件</a></li>
	 		<li><a href="#">智能硬件</a></li>
	 	</ul>
	 </div>
	</header>
	<!-- 导航部分结束 -->

  <!-- detail部分开始 -->
  <article>
   <div class="w clear">
      <section class="crumbs clear">
        <a href="store.html">首页</a>&nbsp;>&nbsp;
        <a href="javascript:;" class="crumbs-title">魅族蓝牙小音箱</a>
      </section>
      <section class="row clear">  
      	<div class="preview">
      		<div class="preview-booth clear">
      			<a href="javascript:;"><img src=""></a>
      		</div>
      		<ul class="preview-thumb clear">
      			<li class="current"><a href="javascript:;"><img src="../images/thumb01.jpg"></a></li>
      			<li><a href="javascript:;"><img src="../images/store/thumb02.jpg"></a></li>
      			<li><a href="javascript:;"><img src="../images/store/thumb03.jpg"></a></li>
      			<li><a href="javascript:;"><img src="../images/store/thumb04.jpg"></a></li>
      		</ul>
      	</div>
      	<div class="property">
      		<div class="property-hd clear">
      			<h1>魅族蓝牙小音箱</h1>
      			<p class="mod-info">曼妙持久，好音感直达心灵</p>
      		</div>
      		<div class="property-sell clear">
      			<i>价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格 :</i><span>￥169.00</span>
      		</div>
      		<div class="property-set clear">
      			<dl class="property-set-sale">
      			  <dt>颜色分类:</dt>
      				<dd>
      					<a href="#"><img class="gray"  src="../images/store/index1.png">深空灰</a>
      					<a href="#"><img class="white" src="../images/store/index2.png">皓月白</a>
      				</dd>
      			</dl>
      		</div>
      		<div class="property-service clear">
      			<dl class="property-service-item clear">
      				<dt>支&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;持 :</dt>
      				<dd>
      				  <span><i></i>顺丰包邮</span>
      				  <span><i></i>七天无理由退货</span>
      				</dd>
      			</dl>
      			<dl class="property-service-provider clear">
      				<dt>服&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务 :</dt>
      				<dd>本商品由 魅族 负责发货并提供售后服务</dd>
      			</dl>
      			<dl></dl>
      		</div>
      		<div class="property-buy clear">
      			<dl class="property-buy-quantity">
      				<dt>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量 :</dt>
      				<dd>
      					<div class="ipt-quantity">
      						<a href="javascript:;" title="增加">－</a>
      						<input type="text" name="" value="1">
      						<a href="javascript:;" title="减少">＋</a>
      					</div>
      					<div class="btn-assert">
      						<span href="javascript:;" class="btn-buynow">立即购买</span>
      						<span><a href="">收藏</a></span>
      						<span></span>
      					</div>
      				</dd>
      			</dl>
      		</div>
      	</div>
      </section>
   </div>   
    	<section class="detail">
    	 <div class="w">
    		<div class="detail-tab clear">
    			<ul>
    				<li class="current" value="1">商品详情</li>
    				<li value="2">规格参数</li>
    			</ul>
    		</div>
    	 </div>	
    	</section>
  	  <section class="detail-content w">
  	  	<li class="first"><img src="../images/store/blue01.jpg"></li>
  	  	<li><img src="../images/store/blue01.jpg"></li>
  	  	<li><img src="../images/store/blue02.jpg"></li>
  	  	<li><img src="../images/store/blue03.jpg"></li>
  	  	<li><img src="../images/store/blue04.jpg"></li>
  	  	<li><img src="../images/store/blue05.jpg"></li>
  	  	<li><img src="../images/store/blue06.jpg"></li>
  	  	<li><img src="../images/store/blue07.jpg"></li>
  	  	<li><img src="../images/store/blue08.jpg"></li>
  	  	<li><img src="../images/store/blue09.jpg"></li>
  	  	<li><img src="../images/store/blue10.jpg"></li>
  	  	<li><img src="../images/store/blue12.jpg"></li>
  	  	<li><img src="../images/store/blue13.jpg"></li>
  	  	<li><img src="../images/store/blue14.jpg"></li>
  	  </section>
  	  <section class="detail-argument w">
                        <table>
                            <tbody>
                                    <tr class="table-group">
                                        <th colspan="2">
                                            基础信息
                                        </th>
                                    </tr>
                                        <tr>
                                            <th>
                                            品牌
                                            </th>
                                            <td>
                                            魅族
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                            型号
                                            </th>
                                            <td>
                                            蓝牙小音箱
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                            尺寸
                                            </th>
                                            <td>
                                            108*55mm
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                            重量
                                            </th>
                                            <td>
                                            170g
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                            是否支持蓝牙
                                            </th>
                                            <td>
                                            支持
                                            </td>
                                        </tr>
                                    <tr class="table-group">
                                        <th colspan="2">
                                            其他参数
                                        </th>
                                    </tr>
                                        <tr>
                                            <th>
                                            蓝牙版本
                                            </th>
                                            <td>
                                            4.2版本
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                            连接方式
                                            </th>
                                            <td>
                                            3.5mm音频接口/蓝牙连接
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                            播放时长
                                            </th>
                                            <td>
                                            8小时（最大音量）    15小时（50%音量）
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                            供电方式
                                            </th>
                                            <td>
                                            内置电池
                                            </td>
                                        </tr>
                                    <tr class="table-group">
                                        <th colspan="2">
                                            音质参数
                                        </th>
                                    </tr>
                                        <tr>
                                            <th>
                                            频响范围
                                            </th>
                                            <td>
                                            100~20KHz
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                            频率范围
                                            </th>
                                            <td>
                                            2.402MHz-2.480MHz
                                            </td>
                                        </tr>
                                    <tr class="table-group">
                                        <th colspan="2">
                                            包装清单
                                        </th>
                                    </tr>
                                        <tr>
                                            <th>
                                            包装清单
                                            </th>
                                            <td>
                                            挂绳 x 1<br>蓝牙音箱 x 1
                                            </td>
                                        </tr>
                                    <tr class="table-group">
                                        <th colspan="2">
                                            功能参数
                                        </th>
                                    </tr>
                                        <tr>
                                            <th>
                                            充电时间
                                            </th>
                                            <td>
                                            4小时
                                            </td>
                                        </tr>
                            </tbody>
                        </table>
  	  </section>   
  	
  </article>
  <!-- detail部分结束 -->

  <!-- footer部分开始 -->
  <footer>
   <div class="footer-service"><img src="../images/footer-service.png"></div>
    <div class="w">
  	 <div class="footer-message clear" >
  		<ul>
  			<li class="footer-title">帮助说明</li>
  			<li><a href="javascript:;">支付方式</a></li>
  			<li><a href="javascript:;">配送说明</a></li>
  			<li><a href="javascript:;">售后服务</a></li>
  			<li><a href="javascript:;">付款帮助</a></li>
  		</ul>
  		<ul>
  			<li class="footer-title">Flyme</li>
  			<li><a href="javascript:;">开放平台</a></li>
  			<li><a href="javascript:;">固件下载</a></li>
  			<li><a href="javascript:;">软件商店</a></li>
  			<li><a href="javascript:;">查找手机</a></li>
  		</ul>
  		<ul>
  			<li class="footer-title">关于我们</li>
  			<li><a href="javascript:;">关于魅族</a></li>
  			<li><a href="javascript:;">加入我们</a></li>
  			<li><a href="javascript:;">联系我们</a></li>
  			<li><a href="javascript:;">法律声明</a></li>
  		</ul> 
  		<ul>
  			<li class="footer-title">关注我们</li>
  			<li><a href="javascript:;">新浪微博</a></li>
  			<li><a href="javascript:;">腾讯微博</a></li>
  			<li><a href="javascript:;">QQ空间</a></li>
  			<li><a href="javascript:;">官方微信</a></li>
  		</ul>  	
  	  <ul class="footer-tel">
  	  	<li class="tel-header">24小时全国服务热线</li>
  	  	<li class="tel-num">400-788-3333</li>
  	  	<li class="tel-btn">24小时在线客服</li>
  	  </ul>	  		 		
  	 </div>

  	<div class="footer-law clear w">
  		<p>©2017 Meizu Telecom Equipment Co., Ltd. All rights reserved. 备案号：粤ICP备13003602号-2 经营许可证编号：粤B2-20130198 营业执照 </p>
  	</div>
  </footer>
  <!-- footer部分结束 -->
</body>
</html>
