<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>专卖店查询 - 魅族官网</title>
  <meta name="keyword" content="魅族官网服务支持,魅族服务中心" >
  <meta name="description" content="魅族官网提供一站式售后服务支持，为您解答有关魅族产品的所有问题，程，提供寄送快修、上门快修、预约维修、维修查询、mSupport等售后服务。" >
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
  <link rel="shortcut icon" href="//retail2.res.meizu.com/static/cn/global/images/favicon_19fbf41.ico" type="image/x-icon" />
</head>
<body>
	
</body>
</html>
<script type="text/javascript">
	
</script>