<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-for多重嵌套</title>
	<script type="text/javascript" src= "D:/store/vue.min.js"></script>
</head>
<body>
<ul id="example-1">
  <li v-for="(item,index) in items">
    {{ item.message }}--{{test[index]['name']}}
  </li>
</ul>
</table>
<a href="" style=":hover:color:#ccc;">hello</a>
</body>
</html>
<script type="text/javascript">
var example1 = new Vue({
  el: '#example-1',
  data: {
    items: [
      {message: 'foo' },
      {message: 'Bar' }
    ],
    test:[
      {name:'hello'},
      {name:"hi"},
    ]
  }
})
</script>