<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>配送说明-魅族商城</title>
  <meta name="viewport" content="width=1240, initial-scale=1">
  <meta name="description" content="配送说明">
  <meta name="keywords" content="魅族魅族商城">
  <link rel="shortcut icon" href="../../favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../css/base.css">
	<script type="text/javascript" src= "../../js/vue.min.js"></script>
	<script type="text/javascript" src= "../../js/base.js"></script>
	<style type="text/css">
		.center{
			width: 900px;
			margin: 0 auto;
		}
		article{padding: 20px 0 120px 0}
		h3{font-size: 20px;text-align: center;line-height: 100px;color: #222;}
		h5{font-size: 16px; color: #333;line-height: 60px;}
		p{line-height: 30px;font-size: 14px;color: #444;}
	</style>  
</head>
<body>
	<div id="nav">
		<m-nav></m-nav>
	</div>
	<div id="head">
		<m-head></m-head>
	</div>
	<article class="center">
	   <h3>魅族商城购物配送说明</h3>
	   <h5>一、配送方式 :</h5>
	   <p>主要通过"EMS特快专递"、"联邦快递"和"顺丰速运"进行配送。</p><br>
	   <h5>二、配送费用 :</h5>
	   <p>全国范围内免费送货上门。</p><br>
	   <h5>三、配送范围 :</h5>
	   <p>"EMS特快专递"全国范围送货，"顺丰速运"和"联邦快递"部分地区无法到达，下单时请确认运输公司是否可以配送到您所在的地区，并填写详细的收货人资料。</p><br>
	   <h5>四、配送时间 :</h5>
	   <p>确认收到您货款的三个工作日内（如该货品需延迟发货将在销售页面予以说明）配送您购买的商品，到货的准确时间取决于路程的长短和运输公司的效率，珠三角一般需要1～2天时间，省会城市一般需要2～3天时间，乡镇周边城市一般需要3～5天的时间。</p><br>
	   <h5>五、配送查询 :</h5>
	   <p>商品发出后，我们会把"发货单号"发到您的手机（仅限移动、联通的号码），您还可以登陆到"魅族商城-我的订单"查询发货单号，并根据发货单号查询配送进度，"EMS特快专递"可拨打11185，"顺丰速运"可拨打400-811-1111，"联邦快递"可拨打400-889-1888，也可到运输公司官网查询。</p><br>
	   <p>对配送服务的其它说明 :
1、 同一笔订单，我们只免费配送一次。<br>
2、 根据EMS规定，没有签收货物之前客户不能擅自拆开包装检查配件是否齐全和试听产品，请您对EMS的工作给予理解。<br>
3、 您签收商品后，请您立即拆开包装检查配件是否齐全，确认机器是否正常，如有问题请联系我们。<br>
4、 如果您发现货物在配送过程中损坏，您有权要求运输公司出示证明，并向运输公司索赔。</p>	   
	</article>
	<div id="footer">
		<m-footer></m-footer>
	</div>	
</body>
</html>
<script type="text/javascript">
  new Vue({
		el: "#nav"
	});
	new Vue({
		el: "#head"
	});		
	new Vue({
		el: "#footer"
	});

</script>